    <footer class="text-center py-3" style="background-color: #1e2a38; color: #e0f7fa;">
        <p>&copy; 2024 DemoProject.. Made by Shweta..</p>
    </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-2.1.8/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {
                $("table").DataTable({
                    order: [0, 'desc']
                });
            });
        </script>

</body>

</html>